<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="com.demo.aplication"
            id="com.demo.entrypoint"
            path="/demo">
      </entrypoint>
   </extension>
   <extension
         id="com.demo.aplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.enclave.training.rap.DemoApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.enclave.training.rap.perspectives.ProjectPerspective"
            fixed="true"
            icon="icons/project.png"
            id="com.demo.perspective.perspective"
            name="Projects">
      </perspective>
      <perspective
            class="com.enclave.training.rap.perspectives.ProjectPerspective"
            fixed="true"
            icon="icons/template.png"
            id="com.demo.perspective.perspective1"
            name="Templates">
      </perspective>
      <perspective
            class="com.enclave.training.rap.perspectives.ProjectPerspective"
            fixed="true"
            icon="icons/system.png"
            id="com.demo.perspective.perspective2"
            name="System">
      </perspective>
      <perspective
            class="com.enclave.training.rap.perspectives.ProjectPerspective"
            fixed="true"
            icon="icons/user.png"
            id="com.demo.perspective.perspective3"
            name="Users">
      </perspective>
      <perspective
            class="com.enclave.training.rap.perspectives.ProjectPerspective"
            fixed="true"
            icon="icons/logout.png"
            id="com.demo.perspective.perspective4"
            name="Logout">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.enclave.training.rap.handles.HelloAction"
            id="demo.say.hello"
            name="demo.say.hello">
      </command>
      <command
            defaultHandler="com.enclave.training.rap.handles.HelloAction"
            id="demo.pulldown.hello"
            name="demo.pulldown.hello">
      </command>
      <command
            defaultHandler="com.enclave.training.rap.handles.ProjectHandle"
            id="com.enclave.rap.handles.new_project"
            name="New Project">
      </command>
      <command
            defaultHandler="com.enclave.training.rap.handles.DeleteHandle"
            id="com.enclave.rap.handles.delete"
            name="Delete">
      </command>
      <command
            defaultHandler="com.enclave.training.rap.handles.CreateVersionHandle"
            id="com.enclave.rap.handles.newVersion"
            name="New Version">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.enclave.training.rap.views.TreeView"
            icon="icons/project.png"
            id="com.demo.views.treeView"
            name="Projects"
            restorable="true">
      </view>
      <view
            class="com.enclave.training.rap.views.FormView"
            id="com.demo.views.formView"
            name="Form View"
            restorable="true">
      </view>
      <view
            class="com.enclave.training.rap.views.DeviceView"
            icon="icons/device.png"
            id="com.demo.views.deviceView"
            name="Devices"
            restorable="true">
      </view>
      <view
            class="com.enclave.training.rap.views.FormView"
            icon="icons/service.png"
            id="com.demo.views.formView1"
            name="Services"
            restorable="true">
      </view>
      <view
            class="com.enclave.training.rap.views.FormView"
            icon="icons/scene.png"
            id="com.demo.views.formView2"
            name="Scenes"
            restorable="true">
      </view>
      <view
            class="com.enclave.training.rap.views.FormView"
            icon="icons/rule.png"
            id="com.demo.views.formView3"
            name="Rules"
            restorable="true">
      </view>
      <view
            class="com.enclave.training.rap.views.FormView"
            icon="icons/system.png"
            id="com.demo.views.formView4"
            name="Devices"
            restorable="true">
      </view>
      <view
            class="com.enclave.training.rap.views.FormView"
            icon="icons/area.png"
            id="com.demo.views.formView5"
            name="Areas"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="group.toolbar">
            <command
                  commandId="demo.say.hello"
                  icon="icons/export.png"
                  label="Export"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="demo.say.hello"
                  icon="icons/deployunit_project.png"
                  label="Deploy"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="demo.say.hello"
                  icon="icons/report.png"
                  label="Report"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <separator
                  name="Demo.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="demo.pulldown.hello"
                  icon="icons/help.png"
                  label="Help Links"
                  mode="FORCE_TEXT"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:demo.pulldown.hello">
         <command
               commandId="demo.say.hello"
               icon="icons/help.png"
               label="Help 1"
               style="push">
         </command>
         <command
               commandId="demo.say.hello"
               icon="icons/help.png"
               label="Help 2"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.demo.views.treeView">
         <command
               commandId="demo.say.hello"
               icon="icons/refresh.png"
               label="Hello"
               style="push">
         </command>
         <separator
               name="Demo.separator1"
               visible="true">
         </separator>
         <command
               commandId="demo.say.hello"
               icon="icons/show_devices.png"
               label="Hello"
               style="push">
         </command>
         <separator
               name="Demo.separator2"
               visible="true">
         </separator>
         <command
               commandId="demo.say.hello"
               icon="icons/add.png"
               label="Hello"
               style="push">
         </command>
         <separator
               name="Demo.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               icon="icons/clone_version.png"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               icon="icons/save_as.png"
               label="Save"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               icon="icons/remove.png"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.command2">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status?insertBefore=org.eclipse.jface.action.StatusLineManager">
         <toolbar
               id="Demo.toolbar1">
            <command
                  commandId="demo.pulldown.hello"
                  icon="icons/status.png"
                  label="status"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.demo.views.deviceView">
         <command
               commandId="demo.say.hello"
               icon="icons/refresh.png"
               label="Refresh"
               style="push">
         </command>
         <separator
               name="Demo.separator1"
               visible="true">
         </separator>
         <command
               commandId="demo.say.hello"
               icon="icons/add_attachment.png"
               label="add"
               style="push">
         </command>
         <command
               commandId="demo.say.hello"
               icon="icons/copy_d.png"
               style="push">
         </command>
         <command
               commandId="demo.say.hello"
               icon="icons/remove.png"
               style="push">
         </command>
         <separator
               name="Demo.separator2"
               visible="true">
         </separator>
         <command
               commandId="demo.say.hello"
               icon="icons/import_device.png"
               style="push">
         </command>
         <command
               commandId="demo.say.hello"
               icon="icons/import_zwave.png"
               style="push">
         </command>
         <command
               commandId="demo.say.hello"
               icon="icons/template_child.png"
               style="push">
         </command>
         <command
               commandId="demo.say.hello"
               icon="icons/export.png"
               style="push">
         </command>
         <separator
               name="Demo.separator3"
               visible="true">
         </separator>
         <command
               commandId="demo.say.hello"
               icon="icons/show_services.png"
               style="push">
         </command>
         <command
               commandId="demo.say.hello"
               icon="icons/expand.png"
               style="push">
         </command>
         <command
               commandId="demo.say.hello"
               icon="icons/38736d40.png"
               style="push">
         </command>
         <separator
               name="Demo.separator4"
               visible="true">
         </separator>
         <command
               commandId="demo.say.hello"
               icon="icons/update.png"
               style="push">
         </command>
         <command
               commandId="demo.say.hello"
               icon="icons/connect.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.perspectives.showPerspective">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.demo.views.treeView">
         <command
               commandId="com.enclave.rap.handles.new_project"
               icon="icons/add.png"
               label="New Project"
               style="push">
               
               <visibleWhen>
                   <with variable="activeMenuSelection">
                      <iterate ifEmpty="false">
                        <instanceof value="com.christopher.jpa.entitis.Version" />
                      </iterate>
                   </with>
            </visibleWhen>
         </command>
         <separator
               name="RAP_View.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.enclave.rap.handles.newVersion"
               icon="icons/clone_version.png"
               label="New Version"
               style="push">
               
               <visibleWhen>
                   <with variable="activeMenuSelection">
                      <iterate ifEmpty="false">
                        <instanceof value="com.christopher.jpa.entitis.Version" />
                      </iterate>
                   </with>
            </visibleWhen>
         </command>
         <command
               commandId="demo.say.hello"
               icon="icons/save_as.png"
               label="Save As"
               style="push">
               
                <visibleWhen>
                   <with variable="activeMenuSelection">
                      <iterate ifEmpty="false">
                        <instanceof value="com.christopher.jpa.entitis.Version" />
                      </iterate>
                   </with>
                </visibleWhen>
         </command>
         <separator
               name="RAP_View.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.enclave.rap.handles.delete"
               icon="icons/remove.png"
               label="Delete"
               style="push">
               <visibleWhen>
                   <with variable="activeMenuSelection">
                      <iterate ifEmpty="false">
                        <instanceof value="com.christopher.jpa.entitis.Version" />
                      </iterate>
                   </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
